@import "tailwindcss";


/* Add smooth transitions for background and text colors */
body {
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}